## Setup py requirements
six==1.11.0
h5py==2.7.1
keras==2.1.6
tqdm==4.23.3
flask==2.3.2
pika==0.12.0
pyyaml==5.4
pytz==2018.9
numpy==1.16.1
redis==2.10.6
typing==3.6.4
networkx==2.2
gevent==1.4.0
spacy==2.0.12
future==0.17.1
pymongo==3.7.2
jsonpickle==1.1
packaging==18.0
requests==2.21.0
rasa_nlu==0.14.3
colorhash==1.0.2
pykwalify==1.7.0
fakeredis==0.10.3
rasa_core==0.13.1
coloredlogs==10.0
flask_cors==3.0.9
jsonschema==2.6.0
apscheduler==3.5.1
tensorflow==2.5.2
ruamel.yaml==0.15.37
scikit-learn==0.20.2
rasa_core_sdk==0.12.1
python-dateutil==2.7.3
ConfigArgParse==0.13.0
sklearn_crfsuite==0.3.6